html, body {
  padding : 0;
  margin : 0;
  min-height:100%;
}

body{
  font-family: 'Sansita', sans-serif;
  color : #ffffff;
  background: #002255 url('../images/bevsplat_bg.svg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin : 20px;
}

h1 {
  /*color: #ffffff;*/
  font-size:2.5em;
  text-align: center;
  font-weight: bolder;
  text-shadow: 3px 3px #000000;
}

h2 {
  /*color: #ffffff;*/
  font-size:2em;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

h3 {
  /*color: #ffffff;*/
  font-size: 1.5em;
  text-align: center;
  text-shadow: 1px 1px #000000;
}

p {
  font-size:1.3em;
  text-shadow: 2px 2px #000000;
  text-align: center;
  margin: 40px 0;
  color: #ffffff;
}

.txtbg{
  background-color: rgba(0, 34, 85, 0.7);
  width: 77%;
  color: #ffffff;
  border-radius: 10px;
  margin: auto;
  }

.space {
  width: 100%;
  height: 20px;
}

header{
  display: flex;
  justify-content: center;
}

/* landing page buttons */

.formlinks {
    display:flex;
    flex-direction:column;
}

.formlinks > a {
    cursor:pointer;
    display:block;
    width:50%;
    margin:20px auto;
    text-align:center;
    text-decoration:none;
    font-family:Sansita;
    color:#002255;
    background-color:#ff7e00;
    padding:20px 0;
    font-size:2em;
    border-radius:5pt;
    text-shadow:2px 2px #fff600;
    border:3px groove #ff7e00;
    transition: background-color 0.3s, text-shadow 0.3s;
}

.formlinks > a:hover {
    text-shadow:1px 1px #000;
    background-color:#fff600;
}

.numbcd{
  display: flex;
  width: 100%;
  font-size: 2.3em;
  color : white;
  text-shadow:2px 1.2px #000;
  text-align: center;
  justify-content: center;
}

.squarecd {
  display: block;
  margin: 12px;
  background-color: rgba(0, 34, 85, 0.8);
  border-radius: 10px;
}

.livelogo{
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  z-index: 3;
}

.vidlogo{
  top: 10px;
  display: block;
  text-align: center;
  padding-top: 30px;
  z-index: 3;
}

#vid {
  display: flex;
}

iframe {
  padding-top: 0.5em;
  margin-top:  10px;
  margin: auto;
}

#viddiv, .mainlive {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-wrap:wrap;
  background-color: rgba(0, 34, 85, 0.77);
}

footer{
  display: block;
  margin-top: 200px;
}

.footdiv {
  /*display: block;*/
  width: 100%;
  margin: 0;
  padding: 0;
}

.footnav {
  padding-top: 8px;
  margin-bottom:1px;
  background-color: rgba(0, 34, 85, 0.9);
}

/*.footnav ul {
  width: 100%;
}*/
.footnav li {
  font-weight: lighter;
  width: 100%;
  height: 36px;
}

.footnav a {
  font-size: 0.9em;
  text-align: center;
}

div#foot2.footnav2 {
  background-color: transparent;
  margin-bottom: 5px;
  text-align: center;

}

div#foot2.footnav2 a {
  height: auto;
  font-size: 2em;
  color: #ffffff;
  margin: 5px;
  cursor: pointer;
}

div#foot2.footnav2 a:hover {
  color: #fff600;
}


#mapbev {
  height: 600px;
  width: 800px;
  margin: auto;
}

#ou {
  font-size: 1.3em;
  color: #fff600;
}

.titp{
  font-size: 1.3em;
  font-weight: bold;
  color: #fff600;
}

.litxt {
  font-size:1.3em;
  text-shadow: 2px 2px #000000;
  text-align: left;
}

.txtlink {
  font-weight: bold;
  color: #ff7e00;
  text-shadow: 2px 2px #000000;
  text-align: left;
}

.linkp {
  font-size:1.3em;
  text-align: center;
}


.tof{
  display: block;
  border: 2px groove #ffffff;
  border-radius: 7px;
  max-width: 900px;
  margin: auto;
}
#quisect img {
  display: block;
  max-width: 200px;
  border-radius: 30px;
  margin: auto;
}


.galleria {
  margin: auto;
}

.galleria-container{
  background-color: transparent;
}
h6 {
  font-size: 1.5em;
  text-align: center;
}

.contlink {
  width: 100%;
  color: #ff7e00;
  text-decoration: none;
}

.contlink2 {
  color: #fff600;
  text-decoration: none;
}

.contlink:hover, .contlink2:hover {
  color: #aaeeff;
}

.prog {
  display: flex;
  flex-direction: column;
  width:80%;
  background-color: rgba(0, 34, 85, 0.9);
  font-size: 80%;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  /*border: 2px solid #aaeeff;*/
}

.progtxt h2  {
  color: #aaeeff;
  text-align: left;
  margin-left: 25%;
  margin-right: 8%;
}

.yello  {
  color: #fff600;
}

.vidprez {
  display: block;
  width: 96%;
  margin: auto;
}
/*
.player.sidedock {
  display: none;
  font-size: 0;
}
.player {
  background-color: transparent;
}*/

/*formulaire contact*/

#contact-area {
	width: 600px;
	margin-top: 25px;
  margin: auto;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 470px;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ff7e00;
  border-radius: 5px;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}


label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

.phatbutt {
  display: block;
  width: 59%;
  margin: auto;

}

#subcont {
  color: #002255;
  font-weight: bold;
  background-color: #ff7e00;
  cursor: pointer;
}

#subcont:hover {
  background-color: #fff600;
}
